In [1]:
import pandas as pd

In [2]:
# reading csv file
pokemon = pd.read_csv('pokemon_data.csv')

In [3]:
pokemon.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [4]:
pokemon.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
# Trying to open excel files but I guess it is not supported anymore. Could use xlrd version 1.2 but many security issues
# Solution: convert the xlsx file to CSV

# pokemon_xl = pd.read_excel('pokemon_data.xlsx')
# pokemon_xl.head(3)

In [6]:
# Loading data from text files that are seperated by tabs
pokemon_txt = pd.read_csv('pokemon_data.txt', delimiter='\t') # \t is tab (meaning seperate based on tabs, can be changed to anything)
pokemon_txt.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [7]:
# Checking the headers (Column Names)
print(pokemon.columns) # solo checking

for i in pokemon.columns: #making it neat
    print(i)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
#
Name
Type 1
Type 2
HP
Attack
Defense
Sp. Atk
Sp. Def
Speed
Generation
Legendary

In [8]:
# Checking based on columns
pokemon['Name'][0:5] # checking data based on specific columns can also specify range

# alternatively:
# pokemon.Name - to get name column only

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [9]:
# Getting more than 1 column
pokemon[['Name', 'HP']][0:5]

                    Name  HP
0              Bulbasaur  45
1                Ivysaur  60
2               Venusaur  80
3  VenusaurMega Venusaur  80
4             Charmander  39

In [10]:
# Reading each row
print(pokemon.iloc[1])
pokemon.iloc[1:4] # Setting specific range
print('Result: ' + pokemon.iloc[1, 2]) # getting row 1 and column 2

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
Result: Grass

In [11]:
# Checking per row
for index, row in pokemon.iterrows():
    if row['Type 1'] == 'Psychic' and row['Legendary'] == True: # checking by types //remove if statement if want to print without conditions
        print(index, row['Name'])

162 Mewtwo
163 MewtwoMega Mewtwo X
164 MewtwoMega Mewtwo Y
269 Lugia
428 DeoxysNormal Forme
429 DeoxysAttack Forme
430 DeoxysDefense Forme
431 DeoxysSpeed Forme
537 Uxie
538 Mesprit
539 Azelf
553 Victini
797 HoopaHoopa Confined
798 HoopaHoopa Unbound

In [12]:
pokemon.loc[pokemon['Name'] == 'Mewtwo']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True

In [13]:
# Sorting
pokemon.sort_values(['Type 1', 'HP'], ascending=False).head(7) # ascending=False makes it descending (remove it if want it ascending)
pokemon.sort_values(['Type 1', 'HP'], ascending=[1,0]).head(7) # ascending=[1,0] first one (1) is for type 1  and second one (2) is for HP // 1 means ascending and 0 means descending

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
447,402,Kricketune,Bug,NaN,77,85,51,55,51,65,4,False

In [14]:
# creating a new column
pokemon['Total'] = pokemon['HP'] + pokemon['Attack'] + pokemon['Defense'] + pokemon['Sp. Atk'] + pokemon['Sp. Def'] + pokemon['Speed']
pokemon.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [15]:
cols = list(pokemon.columns)
cols[-1]

'Total'

In [16]:
# moving column location
pokemon = pokemon[cols[0:10] + [cols[-1]] + cols[10:12]]
pokemon.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

In [17]:
# dropping the column
pokemon = pokemon.drop(columns=['Total'])
pokemon.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [18]:
pokemon.loc[pokemon['Type 2'].isnull()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True

In [19]:
pokemon.at[4, 'Type 2'] = pokemon.at[4, 'Type 1'] # Testing

In [20]:
pokemon.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,Fire,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [21]:
pokemon.isnull().values.any() # checking if there are any null values

True

In [22]:
# changing all NaN or null values in the types
for index, row in pokemon.iterrows():
    if pd.isnull(pokemon.at[index, 'Type 1']) == True:
        pokemon.at[index, 'Type 1'] = pokemon.at[index, 'Type 2']
    elif pd.isnull(pokemon.at[index, 'Type 2']) == True:
        pokemon.at[index, 'Type 2'] = pokemon.at[index, 'Type 1']

pokemon.isnull().values.any() # checking if there are any null values

False

In [23]:
pokemon.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,Fire,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,Fire,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,Water,44,48,65,50,64,43,1,False